[submodule "Ember/vendor/GLFW"]
	path = Ember/vendor/GLFW
	url = https://github.com/ConnorShore/glfw.git
[submodule "Ember/vendor/glm"]
	path = Ember/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Ember/vendor/imgui"]
	path = Ember/vendor/imgui
	url = https://github.com/ConnorShore/imgui.git
[submodule "Ember/vendor/assimp"]
	path = Ember/vendor/assimp
	url = https://github.com/ConnorShore/assimp.git
[submodule "Ember-Forge/vendor/ImGuizmo"]
	path = Ember-Forge/vendor/ImGuizmo
	url = https://github.com/ConnorShore/ImGuizmo.git
