[submodule "Ember/vendor/GLFW"]
	path = Ember/vendor/GLFW
	url = https://github.com/ConnorShore/glfw.git
[submodule "Ember/vendor/glm"]
	path = Ember/vendor/glm
	url = https://github.com/g-truc/glm.git
